@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretty Scrollbar */
html::-webkit-scrollbar {
    width: 12px;
  }
   
  html::-webkit-scrollbar-track {
    background: transparent;
  }
   
  html::-webkit-scrollbar-thumb {
    background: #526e78;
    border-radius: 1rem;
    border: 3px solid #EFF4F7;
  }